{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
    <style>
        /* Add indentation for nested module items */
        .indented {
            margin-left: 20px; /* Adjust the value to control indentation */
        }
    </style>
    <script>
        // Function to handle dropdown selection and send data to API endpoint
        async function handleDropdownChange() {
            const selectElement = document.getElementById('dropdown');
            const source_course_id = selectElement.value;

            if (source_course_id) {
                try {
                    const response = await fetch('/api/submit_selection/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCookie('csrftoken') // CSRF protection
                        },
                        body: JSON.stringify({ selected_option: source_course_id })
                    });

                    if (response.ok) {
                        const data = await response.json();
                        const modules = data.message;
                        displayModuleItemsList(modules, source_course_id);
                    } else {
                        alert('Failed to submit selection');
                    }
                } catch (error) {
                    console.error('Error:', error);
                    alert('Error connecting to the server');
                }
            }
        }

        // Function to display module items list dynamically
        function displayModuleItemsList(modules, source_course_id) {
            const modulesContainer = document.getElementById('modules-container');
            modulesContainer.innerHTML = ''; 
            modules.forEach(module => {

                const text = document.createElement('span');
                text.textContent = ' ' + module.name;

                const div = document.createElement('div');
                if (module.indent > 0) {
                    div.classList.add('indented');
                    div.style.paddingLeft = (module.indent * 20) + 'px';
                }
                
                div.appendChild(text);
                modulesContainer.appendChild(div);
            });

            // Add a paragraph break before the action button
            const paragraphBreak = document.createElement('br');
            modulesContainer.appendChild(paragraphBreak);

            // Add action button at the end of the list
            const actionButton = document.createElement('button');
            actionButton.textContent = 'Import All Module Items';
            actionButton.addEventListener('click', () => {
                addModuleItems(source_course_id);
            });
            modulesContainer.appendChild(actionButton);
        }

        // Utility function to get CSRF token
        function getCookie(name) {
            const cookieValue = document.cookie
                .split('; ')
                .find(row => row.startsWith(name + '='))
                ?.split('=')[1];
            return cookieValue || '';
        }

        // Function to handle selected module items
        function addModuleItems(source_course_id) {
            // Implement the action you want to perform with the selected module items
            // For example, you can send the selected items to the server
            fetch('/api/add_module_items/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken') // CSRF protection
                },
                body: JSON.stringify({source_course_id: source_course_id, target_course_id: '{{ target_course_id }}' })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Server response:', data);
                // Handle the server response as needed
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

    </script>
</head>

<body>
<div class="navbar">
    <a href="{% url 'home' %}" class="navbar-brand">Module Import TOOL</a>
</div>
<h1>Import modules from a template course</h1>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
<br/>
<label for="dropdown">Template course:</label>
<select id="dropdown" onchange="handleDropdownChange()">
    <option value="">-- Select a template course --</option>
    # Loop through the template courses and display them as options
    {% for course in template_courses %}
        <option value="{{ course.id }}">{{ course.name }}</option>
    {% endfor %}
</select>

<div id="modules-container"></div>

<div class="body-content">
    {% block content %}
    {% endblock %}
    <hr/>
</div>
</body>
</html>