.message {
  font-weight: 600;
  color: blue;
}
.warning {
  color: black;
  padding: 10px 10px 10px 35px;  /* Increased left padding to make room for icon */
  margin: 10px 0;
  border: 2px solid red;
  border-radius: 4px;
  background-color: white;
  display: inline-block;
  position: relative;  /* Added for absolute positioning of pseudo-element */
}

.warning::before {
  content: "!";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  color: white;
  font-size: 1.2em;
  background-color: red;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 2px 0 0 2px;
}

.navbar {
  background-color: #00274C;
  font-size: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  padding: 8px 5px 8px 5px;
}

.navbar a {
  color: inherit;
}

.navbar-brand {
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
}
.navbar-user{
  font-size: 1em;
  font-weight: 600;
  padding-left: 30px;

}
.navbar-item {
  float: right;
  text-decoration: underline;
}

.body-content {
  padding: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}